.font{
    font-size: 1.125rem ;
    line-height: 1.75rem;
}

.companyLogo{
    left: 5.813rem;
    top: 0.75rem;
    font-size: 3rem;
    line-height: 1;
    background: linear-gradient(180deg, rgba(143, 32, 229, 0.70) 30.42%, #ED24CD 63.75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navBar{
    width: 100%;
    background-color: #ffaeae;
}

.navFriends{
    left: 32.938rem;
    top: 1.813rem;
    
}

.navGallery{
    left:41rem;
    top: 1.813rem;  
}

.searchBar{
    left: 52.375rem;
    top: 1.813rem ;
    width: 309px;
    height: 1.938rem;
}

.searchInput{
    border: none;
    outline: none;
    background-color: #ffaeae;
}

.searchInput::placeholder{
    color: rgba(0, 0, 0,0.6);
}

.profileImg{
     background: url("../assets/profile.png");
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-position: center;
     border-radius: 9999px;
     border-width: 3px;
     border-color: rgb(255, 0, 76);
}